*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/*Reducing boostrap navbar padding in Y axis */
.navbar {
  --bs-navbar-padding-y: .3rem;
}

/* Changind the navbar toggle color */
.navbar-toggler-icon{
  color: orange;
}

/*Overriding bootstrap form control styling*/

.form-control{
  height: calc(1.5em + 0.75rem + 7px);
  
}
.form-control:focus{
  border:3px solid orange;
  box-shadow: none;
  transition:all 0.2s ease-in-out;
}

.form-message .form-control{
  border-radius:7px;
}

textarea{
  resize: none;
}
